//////////////////////////////////////////
// Color Variables
//////////////////////////////////////////

$white: #FFF;
$lgray: #DDD;
$gray: #CCC;
$dgray: #5E5E5E;
$black: #0F0F0F;

$background-color: #F9F9F9;

$text-color: #1E425A;
$link-color: #006AFF;

$primary-color: #FFC847;
$secondary-color: #16A1C6;
$accent-color: #000;


//////////////////////////////////////////
// Font Variables
//////////////////////////////////////////

$opensans: 'Open Sans', sans-serif;
$fontawesome: 'FontAwesome', fantasy;

$francois: 'Francois One', sans-serif;
$bangers: 'Bangers', cursive;

//////////////////////////////////////////
// Spacing Variables
//////////////////////////////////////////

$m-space: 40px;						// 40px
$s-space: $m-space / 2;				// 20px
$l-space: $m-space * 2;				// 80px

$xs-space: $s-space / 2;			// 10px
$xl-space: $l-space * 2;			// 160px

//////////////////////////////////////////
// Size Variables
//////////////////////////////////////////

$max-width: 1020px;
$wrapper-width: 90%;
$texture-height: 27px;
$reel-size: 979px;




